body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

.gallery {
    position: relative;
    width: 600px;
    height: 600px;
}

.diamond {
    position: absolute;
    width: 180px;
    height: 180px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.diamond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    transition: filter 0.3s;
}



.d1 { top: 0; left: 0; }
.d2 { top: 0; left: 190px; }
.d3 { top: 0; left: 380px; }
.d4 { top: 95px; left: 95px; }
.d5 { top: 95px; left: 285px; }


.d6 { top: 190px; left: 0; }
.d7 { top: 190px; left: 190px; }
.d8 { top: 190px; left: 380px; }



.diamond:hover {
    z-index: 100; 
    transform: scale(1.15); 
    
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.diamond:hover img {
    filter: brightness(1.1);
}